*{
    margin: 0px;
}

body{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: wheat;
}

#principal{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#cabecera{
    background-color: #33A;
    color: white;
    padding: 0.5em;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 1);
}

#hero{
    display: inherit;
    border: 1px;
    height: 70%;
    width: 400px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}